.product {
   margin: 2rem;
    padding: 1rem;
    background: transparent;
    box-shadow: 2px 2px 2px grey;
}

.product img {
    max-height: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}